@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #e5e7eb;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af #e5e7eb;
}
